<!DOCTYPE html>

<html lang='en' dir='ltr'>
    <head>
      <meta charset="utf-8">
      <title> About </title>
      <link rel='icon' href="/images/weather.png">
      <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
      <div class="box">
        <div class='main-content'>
          {{>header}}
          <div class="screen">
            <div class="details">
              <p> I am a 4th year Mechanical Engineering student </p>
              </br>
              <p> & I aspire to be a Software Developer.</p>
              </br>
              <p> This web application is a stepping stone towards that goal.</p>
            </div>
          </div>
        </div>
      {{>footer}}
      </div>
    </body>
</html>
