
<!--
<!DOCTYPE html>

<html lang='en' dir='ltr'>
    <head>
      <meta charset="utf-8">
      <title> Weather </title>
      <link rel='icon' href="/images/weather.png">
      <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body class="box">
      <div class='main-content'>
        {{>header}}
        <p> Please type the location below in the search box.</p>
        <br/>
        <br/>
        <form>
          <input type="text" placeholder="Location">
          <button>Search</button>
        </form>
        <br/>
        <p id="line-1"></p>
        <p id="line-2"></p>
        <p id="line-3"></p>
      </div>
      {{>footer}}
    </body>
    <script src="/js/fetch.js" charset="utf-8"></script>
</html>
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title> Weather </title>
        <link rel='icon' href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="box">
            <div class="main-content">
                {{>header}}
                <div class="screen">
                    <p id="line"> Please type the location below in the search box.</p>
                    <form>
                        <input placeholder="Location" type="text">
                        <button type="submit">Search</button>
                    </form>
                    <br/>
                    <p id="line-1"></p>
                    <h1 id="line-2"></h1>
                    <p id="line-3"></p>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
    <script src="/js/fetch.js" charset="utf-8"></script>
</html>